# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual env
.venv/
venv/

# Jupyter
.ipynb_checkpoints/

# OS / editor
.DS_Store
.vscode/

# Data
data/raw/
data/cache/
data/processed/*.npy
data/processed/*.npz
data/processed/*.parquet

# Logs
*.log
